// Copy this to secrets.h and fill values. DO NOT COMMIT secrets.h to git.

#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASS "YOUR_WIFI_PASSWORD"

#define ADAFRUIT_IO_USERNAME "YOUR_ADAFRUIT_USERNAME"
#define ADAFRUIT_IO_KEY "YOUR_ADAFRUIT_IO_KEY"

#endif
